.details {
    width: 600px;
    height: 500px;
    background-color: #24272c;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 50px 80px;
    border-radius: 20px;
    font-size: 21px;
    color: #FFFFFF;
}

.details span {
    font-weight: normal;
}

.details button {
    background-color: white;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #24272c;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: bold;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

.details button:hover {
    background-color: #ccc;
  }
.btns {
    display: flex;
    bottom: 0;
    left:50%;
    margin-top: auto;
    justify-content: space-around;
}

.price::before {
    content: '$';
}