table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
}

table {
    width: 800px;
    background-color: rgba(255, 255, 255, 0.7);
}

thead {
    background-color: #111827;
    color: #FFFFFF;
    font-size: 20px;
}

.addBtn {
    margin-bottom: 20px;

}

/* CSS */
.addBtn {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.addBtn:hover {
  background-color: #374151;
}

.addBtn:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .addBtn {
    padding: .75rem 1.5rem;
  }
}